<div class="wrapper">
  <form class="form-signin" ng-submit="vm.submit()">       
    <h2 class="form-signin-heading">Bem vindo! <small>Acesse agora mesmo seu conteúdo exclusivo!</small></h2>
    <input type="text" class="form-control" name="username" placeholder="Email Address" ng-model="vm.credentials.email" />
    <input type="password" class="form-control" name="password" placeholder="Password" ng-model="vm.credentials.password" />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
  </form>
</div>